body {
    background-color: #80bfff;
}

h1{
    text-align: left;
    color: black;
}

p{
    text-align: center;
    color: black;
    font-size: large;
}
#footie{
    text-align: center;
    color: black;

}