body {
    background-color: #7CB4B8;
}

h1{
    text-align: center;
    color: #3D0814;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.center{
    display: flex;
    text-align: center;
    align-items: center;
}
.left{
    display: block;
    float: left;
}
.text{
    text-align: flex;
    color: #3D0814;
    font-size: large;
}
p.footer{
    text-align: center;
    color: #3D0814;
    font-size: 30px;

}
