body {
    background-color: #7CB4B8;
}

h1{
    text-align: center;
    color: #3D0814;
}
.center{
    display: flex;
    text-align: center;
    align-items: center;
}
.text{
    text-align: flex;
    color: #3D0814;
    font-size: large;
}
p.footer{
    text-align: center;
    color: #3D0814;
    font-size: 30px;

}
